<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Extras </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Extras</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <div>
      <label>TicTacToe </label>
      <ion-icon aria-hidden="true" name="game-controller-outline"></ion-icon>

      <app-tic-tac-toe></app-tic-tac-toe>
    </div>
  </div>
</ion-content>
